<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Sync Manager</Name>
    <Version>1.9.3</Version>
    <Title>Sync Manager Installer</Title>
    <ProductUrl>https://github.com/IlyaLts/SyncManager</ProductUrl>
    <WizardShowPageList>false</WizardShowPageList>
        <RunProgram>@TargetDir@/SyncManager</RunProgram>
    <RunProgramArguments>launchOnStartup</RunProgramArguments>
    <StartMenuDir>Sync Manager</StartMenuDir>
    <TargetDir>@ApplicationsDir@/SyncManager</TargetDir>
    <ControlScript>ControlScript.qs</ControlScript>
    <InstallerApplicationIcon>../../Icon</InstallerApplicationIcon>
</Installer>
